<form class="{{cssClass}}" autocomplete="off">

    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name"/>
            </h1>
            {{!-- Ratings: Cool, Tough, etc. --}}
            <div class="flexrow ratings">
                {{!-- TODO: Is the order stable? --}}
                {{#each systemData.ratings as |rating id|}}
                <div class="rating">
                    <label><a class="rollable" data-rating="{{id}}">{{localize (concat "SIMPLE." id)}}</a></label>
                    <input
                      type="text"
                      name="data.ratings.{{id}}.value"
                      value="{{rating.value}}"
                      data-dtype="Number"/>
                </div>
                {{/each}}
                {{#unless isCompanion}}
                    {{#each systemData.conditions}}
                    <div data-condition-index="{{@index}}">
                        <input type="checkbox" class="condition-checkbox" {{#if this.checked}}checked{{/if}} />
                        <input type="text" name="condition-name-{{@index}}" class="balance-input" value="{{this.name}}" />
                    </div>
                    {{/each}}
                {{/unless}}
            </div>
        </div>
    </header>

    {{!-- Companion Status --}}
    <section class="companion-status flexrow">
        <div>
            <label class="header">{{localize "SIMPLE.Fatigue"}}</label>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="fatigue" value=systemData.fatigue}}
            </div>
        </div>
        {{#if isCompanion}}
        <div class="flex3">
            <label class="header">{{localize "SIMPLE.Balance"}}</label>
            <div>
                {{#if owner}}
                <button class="rollable balanceButton" data-principle="Yin">{{systemData.principleYinFormatted}}</button>
                {{/if}}
                <input class="balance-input" type="text" name="data.principleYin" value="{{systemData.principleYin}}" data-dtype="String" />
                {{> "systems/avatarlegends/templates/parts/balance.html"
                    valueName="balance" value=systemData.balance}}
                <input class="balance-input" type="text" name="data.principleYang" value="{{systemData.principleYang}}" data-dtype="String" />
                {{#if owner}}
                <button class="rollable balanceButton" data-principle="Yang">{{systemData.principleYangFormatted}}</button>
                {{/if}}
            </div>
        </div>
        <div>
            <label class="header">{{localize "SIMPLE.Growth"}}</label>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="experience" value=systemData.experience}}
            </div>
        </div>
        {{else}}
        <div>
            <label class="header">{{localize "SIMPLE.Balance"}}</label>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="balance" value=systemData.balance}}
                <input class="balance-input" type="text" name="data.principle" value="{{systemData.principle}}" data-dtype="String" />
                {{#if owner}}
                <button class="balanceButton" data-principle="Yang">{{systemData.principleFormatted}}</button>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </section>

    {{!-- Tab clusters --}}
    <section class="sheet-body flexrow">
        {{!-- Left Tabs --}}
        <div>
            {{!-- Tab Navigation --}}
            <nav class="sheet-tabs tabs tab-nav-left" data-group="left">
                {{#if isCompanion}}
                <a class="item" data-tab="moves" primary="true">
                    {{localize "SIMPLE.Moves"}}
                </a>
                {{/if}}
                <a class="item" data-tab="techniques">
                    {{localize "SIMPLE.Techniques"}}
                </a>
                {{#if isCompanion}}
                <a class="item" data-tab="background">
                    {{localize "SIMPLE.Background"}}
                </a>
                {{/if}}
            </nav>

            {{!-- Tabs --}}
            <div class="tab-content tab-content-left">
                {{!-- Moves Tab --}}
                <div class="tab moves" data-group="left" data-tab="moves">
                    <ol class="inventory-list">
                        <li class="inventory-header flexrow">
                            <h3 class="item">{{localize "SIMPLE.Moves"}}</h3>
                            {{#if owner}}
                            <div class="item-controls">
                                <a class="item-control item-create" title='{{localize "SIMPLE.Add"}}' data-type="Moves">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            {{/if}}
                        </li>
                        <ol class="item-list">
                        {{#each actor.moves as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{item.name}}
                                    {{#if (isNonEmptyString item.data.rating)}}
                                    <a class="chip rollable" data-rating="{{item.data.rating}}" data-title="{{item.name}}">
                                      {{~localize (concat "SIMPLE." item.data.rating)~}}
                                    </a>
                                    {{/if}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Move"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Move"><i class="fas fa-trash"></i></a>
                                    {{!-- TODO: "Create Move" button --}}
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </ol>
                </div>

                {{!-- Techniques Tab --}}
                <div class="tab techniques" data-group="left" data-tab="techniques">
                    <ol class="inventory-list">
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize "SIMPLE.Techniques"}}
                            </h3>
                            {{#if ../owner}}
                            <div class="item-controls">
                                <a class="item-control item-create" title='{{localize "SIMPLE.Add"}}' data-type="Techniques">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            {{/if}}
                        </li>
                        <ol class="item-list">
                            {{#each actor.techniques}}
                            <li class="item flexrow" data-item-id="{{this._id}}">
                                <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{this.name}}
                                    {{#each (split this.data.tags " ") as |tag|}}
                                    <span class="chip">{{tag}}</span>
                                    {{/each}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </ol>
                </div>

                {{!-- Background Tab --}}
                <div class="tab background" data-group="left" data-tab="background">
                    {{editor content=systemData.background target="data.background" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Visual separation between tabs. --}}
        <div style="flex: 0;">&nbsp;&nbsp;&nbsp;</div>

        {{!-- Right Tabs --}}
        <div>
            {{!-- Tab Navigation --}}
            <nav class="sheet-tabs tabs tab-nav-right" data-group="right">
                {{#if isCompanion}}
                <a class="item" data-tab="condition" primary="true">
                    {{localize "SIMPLE.Conditions"}}
                </a>
                {{/if}}
                <a class="item" data-tab="holds">
                    {{localize "SIMPLE.BonusesAndHolds"}}
                </a>
            </nav>

            {{!-- Tabs --}}
            <div class="tab-content tab-content-right">
                {{!-- Conditions/Statuses Tab --}}
                <div class="tab condition" data-group="right" data-tab="condition">
                    <ol class="inventory-list">
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize "SIMPLE.Conditions"}}
                            </h3>
                        </li>
                        <ol class="item-list">
                            {{#each systemData.conditions as |checked condition|}}
                                <li draggable="false" class="item flexrow" data-condition-index="{{condition}}">
                                    <input type="checkbox" class="condition-checkbox" {{#if checked}}checked{{/if}} />
                                    <h4 class="item-name">
                                        {{localize (concat "SIMPLE." condition)}}
                                        <br />
                                        -2
                                        <b>{{localize (concat "SIMPLE." condition "Penalty1")}}</b>
                                        and
                                        <b>{{localize (concat "SIMPLE." condition "Penalty2")}}</b>
                                    </h4>
                                </li>
                            {{/each}}
                        </ol>
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize "SIMPLE.Statuses"}}
                            </h3>
                        </li>
                        <ol class="item-list">
                            {{#each actor.statuses}}
                            <li class="item flexrow" data-item-id="{{this._id}}">
                                <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{this.name}}
                                    {{#each (split this.data.tags " ") as |tag|}}
                                    <span class="chip">{{tag}}</span>
                                    {{/each}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </ol>
                </div>

                {{!-- Holds Tab --}}
                {{!-- TODO: Add and remove elements --}}
                {{!-- TODO: May be worth making these full items so we can have a compendium of them --}}
                <div class="tab holds" data-group="right" data-tab="holds">
                    {{editor content=systemData.holds target="data.holds" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>
