<form class="{{cssClass}}" autocomplete="off">
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname">
                {{#if isCompanion}}
                <input class="half-input" name="name" type="text" value="{{data.name}}" placeholder="Name" />
                <input class="half-input" name="data.playbook" type="text" value="{{actor.playbook}}" placeholder="Playbook" />
                {{else}}
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
                {{/if}}
            </h1>
            {{!-- Statistics: Creativity, Focus, etc. --}}
            <div class="flexrow statistics">
                {{!-- TODO: Is the order stable? --}}
                {{#each actor.statistics as |statistic id|}}
                <div class="statistic">
                    <h3><a class="rollable" data-statistic="{{id}}">{{localize (concat "SIMPLE." id)}}</a></h3>
                    <input
                      type="text"
                      name="data.statistics.{{id}}.value"
                      value="{{statistic.value}}"
                      data-dtype="Number"/>
                </div>
                {{/each}}
                {{#unless isCompanion}}
                    {{#each actor.conditions}}
                    <div data-condition-index="{{@index}}">
                        <input type="checkbox" class="condition-checkbox" {{#if this.checked}}checked{{/if}} />
                        <input type="text" name="condition-name-{{@index}}" class="balance-input" value="{{this.name}}" />
                    </div>
                    {{/each}}
                {{/unless}}
            </div>
        </div>
    </header>

    {{!-- Companion Status --}}
    <section class="companion-status flexrow">
        <div style="flex: 2">
            <h3 class="header">{{localize "SIMPLE.Fatigue"}}</h3>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="fatigue" value=actor.fatigue}}
            </div>
        </div>
        {{#if isCompanion}}
        <div style="flex: 7" class="center">
            <h3 class="header">{{localize "SIMPLE.Balance"}}</h3>
            <div>
                {{#if owner}}
                <button class="rollable balanceButton" data-principle="Yin">{{actor.principleYinFormatted}}</button>
                {{/if}}
                <input class="balance-input" type="text" name="data.principleYin" value="{{actor.principleYin}}" data-dtype="String" />
                {{> "systems/avatarlegends/templates/parts/balance.html"
                    valueName="balance" value=actor.balance}}
                <input class="balance-input" type="text" name="data.principleYang" value="{{actor.principleYang}}" data-dtype="String" />
                {{#if owner}}
                <button class="rollable balanceButton" data-principle="Yang">{{actor.principleYangFormatted}}</button>
                {{/if}}
            </div>
        </div>
        <div style="flex: 2">
            <h3 class="header">{{localize "SIMPLE.Growth"}}</h3>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="experience" value=actor.experience}}
            </div>
        </div>
        {{else}}
        <div>
            <h3 class="header">{{localize "SIMPLE.Balance"}}</h3>
            <div>
                {{> "systems/avatarlegends/templates/parts/track.html"
                    valueName="balance" value=actor.balance}}
                <input class="balance-input" type="text" name="data.principle" value="{{actor.principle}}" data-dtype="String" />
                {{#if owner}}
                <button class="balanceButton" data-principle="Yang">{{actor.principleFormatted}}</button>
                {{/if}}
            </div>
        </div>
        {{/if}}
    </section>

    {{!-- Demeanor, Training, Fighting Style --}}
    <section class="sheet-body details">
        <div class="flexrow">
            <h3>{{localize "SIMPLE.Training"}}</h3>
            <div style="flex: 3">
                <select class="select-statistic" name="data.training" data-type="String">
                    {{#select actor.training}}
                    {{#each trainings as |training|}}
                    <option value="{{training}}">{{localize (concat "SIMPLE." training)}}</option>
                    {{/each}}
                    <option value="">({{localize "SIMPLE.None"}})</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="flexrow">
            <h3>{{localize "SIMPLE.FightingStyle"}}</h3>
            <input style="flex: 3" type="text" name="data.fightingStyle" value="{{actor.fightingStyle}}" />
        </div>
        <div class="flexrow">
            <h3>{{localize "SIMPLE.Demeanor"}}</h3>
            <input style="flex: 3" type="text" name="data.demeanor" value="{{actor.demeanor}}" />
        </div>
    </section>

    {{!-- Tab clusters --}}
    <section class="sheet-body flexrow">
        {{!-- Left Tabs --}}
        <div>
            {{!-- Tab Navigation --}}
            <nav class="sheet-tabs tabs tab-nav-left" data-group="left">
                {{#if isCompanion}}
                <a class="item" data-tab="moves" primary="true">
                    <h3>{{localize "SIMPLE.Moves"}}</h3>
                </a>
                {{/if}}
                <a class="item" data-tab="techniques">
                    <h3>{{localize "SIMPLE.Techniques"}}</h3>
                </a>
                {{#if isCompanion}}
                <a class="item" data-tab="background">
                    <h3>{{localize "SIMPLE.Background"}}</h3>
                </a>
                {{/if}}
            </nav>

            {{!-- Tabs --}}
            <div class="tab-content tab-content-left">
                {{!-- Moves Tab --}}
                <div class="tab moves" data-group="left" data-tab="moves">
                    <ol class="inventory-list">
                        <li class="inventory-header flexrow">
                            <h3 class="item">{{localize "SIMPLE.Moves"}}</h3>
                            {{#if owner}}
                            <div class="item-controls">
                                <a class="item-control item-create" title='{{localize "SIMPLE.Add"}}' data-type="Moves">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            {{/if}}
                        </li>
                        <ol class="item-list">
                        {{#each actor.moves as |item id|}}
                            <li class="item flexrow" data-item-id="{{item._id}}">
                                <img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{item.name}}
                                    {{#if (isNonEmptyString item.data.statistic)}}
                                    <a class="chip rollable" data-statistic="{{item.data.statistic}}" data-title="{{item.name}}">
                                      {{~localize (concat "SIMPLE." item.data.statistic)~}}
                                    </a>
                                    {{/if}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Move"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Move"><i class="fas fa-trash"></i></a>
                                    {{!-- TODO: "Create Move" button --}}
                                </div>
                            </li>
                        {{/each}}
                        </ol>
                    </ol>
                </div>

                {{!-- Techniques Tab --}}
                <div class="tab techniques" data-group="left" data-tab="techniques">
                    <ol class="inventory-list">
                        {{#each actor.techniques as |approach id|}}
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize (concat "SIMPLE." id)}}
                            </h3>
                            {{#if ../owner}}
                            <div class="item-controls">
                                <a class="item-control item-create" title='{{localize "SIMPLE.Add"}}' data-type="Techniques" data-approach="{{id}}">
                                    <i class="fas fa-plus"></i>
                                </a>
                            </div>
                            {{/if}}
                        </li>
                        <ol class="item-list">
                            {{#each (lookup ../actor.techniques id)}}
                            <li class="item flexrow" data-item-id="{{this._id}}">
                                <img class="mastery" src="/systems/avatarlegends/images/ui/{{this.data.mastery}}.png" title="{{this.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{this.name}}
                                    {{#each (split this.data.tags " ") as |tag|}}
                                    <span class="chip">{{tag}}</span>
                                    {{/each}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                        {{/each}}
                    </ol>
                </div>

                {{!-- Background Tab --}}
                <div class="tab background" data-group="left" data-tab="background">
                    {{editor content=actor.background target="data.background" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>

        {{!-- Visual separation between tabs. --}}
        <div style="flex: 0">&nbsp;&nbsp;&nbsp;</div>

        {{!-- Right Tabs --}}
        <div>
            {{!-- Tab Navigation --}}
            <nav class="sheet-tabs tabs tab-nav-right" data-group="right">
                {{#if isCompanion}}
                <a class="item" data-tab="condition" primary="true">
                    <h3>{{localize "SIMPLE.Conditions"}}</h3>
                </a>
                {{/if}}
                <a class="item" data-tab="holds">
                    <h3>{{localize "SIMPLE.BonusesAndHolds"}}</h3>
                </a>
                <a class="item" data-tab="notes">
                    <h3>{{localize "SIMPLE.Notes"}}</h3>
                </a>
            </nav>

            {{!-- Tabs --}}
            <div class="tab-content tab-content-right">
                {{!-- Conditions/Statuses Tab --}}
                <div class="tab condition" data-group="right" data-tab="condition">
                    <ol class="inventory-list">
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize "SIMPLE.Conditions"}}
                            </h3>
                        </li>
                        <ol class="item-list">
                            {{#each actor.conditions as |checked condition|}}
                                <li draggable="false" class="item flexrow" data-condition-index="{{condition}}">
                                    <input type="checkbox" class="condition-checkbox" {{#if checked}}checked{{/if}} />
                                    <h4 class="item-name">
                                        {{localize (concat "SIMPLE." condition)}}
                                    </h4>
                                </li>
                            {{/each}}
                        </ol>
                        <li class="inventory-header flexrow">
                            <h3 class="item">
                                {{localize "SIMPLE.Statuses"}}
                            </h3>
                        </li>
                        <ol class="item-list">
                            {{#each actor.statuses}}
                            <li class="item flexrow" data-item-id="{{this._id}}">
                                <img src="{{this.img}}" title="{{this.name}}" width="24" height="24"/>
                                <h4 class="item-name">
                                    {{this.name}}
                                    {{#each (split this.data.tags " ") as |tag|}}
                                    <span class="chip">{{tag}}</span>
                                    {{/each}}
                                </h4>
                                <div class="item-controls">
                                    <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                                    <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                                </div>
                            </li>
                            {{/each}}
                        </ol>
                    </ol>
                </div>

                {{!-- Holds Tab --}}
                {{!-- TODO: Add and remove elements --}}
                {{!-- TODO: May be worth making these full items so we can have a compendium of them --}}
                <div class="tab holds" data-group="right" data-tab="holds">
                    {{editor content=actor.holds target="data.holds" button=true owner=owner editable=editable}}
                </div>

                <div class="tab notes" data-group="right" data-tab="notes">
                    {{editor content=actor.notes target="data.notes" button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </section>
</form>
