<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        <div class="header-fields">
            <h1 class="charname">
                <input name="name" type="text" value="{{data.name}}" placeholder="Name" />
            </h1>
            {{#if isMove}}
                <div class="resource">
                    <h3>{{localize "SIMPLE.Statistic"}}</h3>
                    <select class="select-statistic" name="data.statistic" data-type="String">
                        {{#select systemData.statistic}}
                        {{#each statistics as |statistic|}}
                        <option value="{{statistic}}">{{localize (concat "SIMPLE." statistic)}}</option>
                        {{/each}}
                        <option value="">({{localize "SIMPLE.None"}})</option>
                        {{/select}}
                    </select>
                </div>
            {{/if}}
            {{#if isTechnique}}
                <div class="flexrow gaprow" style="line-height: 22px;">
                    <h3>{{localize "SIMPLE.Approach"}}</h3>
                    <select style="flex: 2" class="select-statistic" name="data.approach" data-type="String">
                        {{#select systemData.approach}}
                        {{#each approaches as |approach|}}
                        <option value="{{approach}}">{{localize (concat "SIMPLE." approach)}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                <div class="flexrow gaprow" style="line-height: : 22px;">
                    <h3>{{localize "SIMPLE.Mastery"}}</h3>
                    <select style="flex: 2" class="select-statistic" name="data.mastery" data-type="String">
                        {{#select systemData.mastery}}
                        {{#each masteries as |mastery|}}
                        <option value="{{mastery}}">{{localize (concat "SIMPLE." mastery)}}</option>
                        {{/each}}
                        <option value="none">({{localize "SIMPLE.None"}})</option>
                        {{/select}}
                    </select>
                </div>
                {{#unless (eq systemData.mastery "basic")}}
                <div class="flexrow gaprow" style="line-height: 22px;">
                    <h3>{{localize "SIMPLE.Playbook"}}</h3>
                    <input style="flex: 2" type="text" name="data.playbook" value="{{systemData.playbook}}" data-dtype="String" />
                </div>
                {{/unless}}
                {{#unless (eq systemData.mastery "basic")}}
                <div class="flexrow gaprow" style="line-height: 22px;">
                    <h3>{{localize "SIMPLE.Training"}}</h3>
                    <select style="flex: 2" class="select-statistic" name="data.training" data-type="String">
                        {{#select systemData.training}}
                        {{#each trainings as |training|}}
                        <option value="{{training}}">{{localize (concat "SIMPLE." training)}}</option>
                        {{/each}}
                        <option value="">({{localize "SIMPLE.None"}})</option>
                        {{/select}}
                    </select>
                </div>
                {{/unless}}
            {{/if}}
        </div>
    </header>

    {{!-- TODO: Check out https://gitlab.com/foundrynet/dnd5e/-/blob/master/templates/items/weapon.html --}}

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">
            <h3>{{localize "SIMPLE.Description"}}</h3>
        </a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="tab-content">
        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=systemData.description target="data.description" button=true owner=owner editable=editable}}
        </div>
    </section>
</form>
