{{!-- Example usage: valueName="fatigue" value=data.fatigue --}}
<a class="track" data-value-name="{{valueName}}">
    {{!-- It's a {min, value, max} object. --}}
    {{#times value.max}}
        {{#if (eq timesIndex value.value)}}
            <span class="marked">
                <i class="fas fa-square"></i>
            </span>
        {{else}}
            {{#if (gt timesIndex value.value)}}
                <span class="track-element unmarked">
                    <i class="far fa-square"></i>
                </span>
            {{else}}
                <span class="track-element unmarked subtract">
                    <i class="far fa-square"></i>
                </span>
            {{/if}}
        {{/if}}
    {{/times}}
</a>
